SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/nightout
SPRING_DATASOURCE_USERNAME=nightout
SPRING_DATASOURCE_PASSWORD=change-me
SPRING_SQL_INIT_MODE=never
SPRING_BATCH_JDBC_INITIALIZE_SCHEMA=never
SPRING_SESSION_JDBC_INITIALIZE_SCHEMA=never
